<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient, input_html: {required: true} %>
   <%= f.input :description, placeholder: '6cl' %>
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <%= f.button :submit, "Save Dose", class: "btn btn-danger" %>
<% end %>
