.card {
  position: relative;
  border-radius: 5px;
  color: white;
  height: 200px;
  margin:25px 0px;
  h2 {
    margin-bottom: 8px;
  }
}

.card-category {
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
}

.card-description {
  text-align: center;
}

.card-user {
  position: absolute;
  top: 20px;
  right: 20px;
}

.card-link {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  background: black;
  opacity: 0;
  border-radius: 5px;
  &:hover {
    opacity: 0.1;
  }
}
